<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/Infinity_Wash/assets/css/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav">
                    <div class="logo">
                        <img src="/Infinity_Wash/assets/images/logo_black.jpg" alt="" width="160">
                    </div>

                    <ul class="nav-bar">
                        <li>ACCUEIL</li>
                        <li>RÉSERVATION</li>
                        <li>ABONNEMENT</li>
                        <li><i class="fa-solid fa-user"></i></li>
                    </ul>
                </div>
            </nav>
        </header>

        <script src="https://kit.fontawesome.com/2822932118.js" crossorigin="anonymous"></script>
    </body>
</html>